<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PracticeFormSuite">
    <listeners>
        <listener class-name="Utils.TestListener"/>
    </listeners>

    <test name="PracticeFormTest">
        <classes>
            <class name="Testfiles.PracticeFormTest"/>
        </classes>
    </test>
</suite>
